body{
    background-color:antiquewhite;
}
.Appointment:hover{
    background-color: grey;   
}
.Appointment{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 4px solid rgb(241, 64, 64);
    border-width: 5px;
    display: inline-block;
    padding-top: 9px;
    padding-left:9px;
    padding-bottom: 9px;
    padding-right: 9px;
    margin-left: auto;
    margin-right: auto;
}
.h3{
    text-align: right;
    bottom: 20px;
    color: blueviolet;
    margin-left: auto;
}
.h1{
    text-align: center;
    background-color:rgb(251, 207, 153);
    font-size: 37px;
}
.form{
    text-align: center;
    border: 10px solid red;
    padding-top: 9px;
    padding-left:9px;
    padding-bottom: 9px;
    padding-right: 9px;
    background-color: rgb(218, 214, 214);
    border-width: 7px;
    font-size: 20px;
}
.class{
    text-align: center;
}
.style{
    text-align: center;
    font-size: 18px;
    transition: all 1s ease-out;
}
.style:hover{
    font-size: 25px;
}


